<h1>Directors</h1>
<%= link_to 'Add a Director', new_director_path %>
<% @directors.each do |d| %>
  <h3><%= d.name %></h3>
  <h3><%= d.awards %></h3>

  <%= link_to 'Details', director_path(d) %>
<% end %>
